.exam-card{
    display: flex;
    align-items: center;
    margin: 30px 0;
    gap: 100px;
    gap: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 20px;
    cursor: pointer;
    transition: ease 1.5s;

}

.exam-card button{
    background-color: #0a4f98;
    border-radius: 5px;
}

.exam-icon{
    width: 10%;
}

.desc{
    width: 85%;
}

.exam-card:hover{
    transform: scale(1.02);
}